In [1]:
import pandas as pd
import os

In [2]:
file = '/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/book_crossing_files/csv/book_crossing_dataset.csv'        

# # Determine what the character encoding is
# import chardet
# with open(file, 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

# Insert sep to seperate data, character encoding, and skip bad lines
book_crossing_df = pd.read_csv(file, sep=",",encoding='ISO-8859-1', on_bad_lines='skip')

/Users/nataliebernal/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# Display DataFrame
book_crossing_df

,user_id,address,age,isbn,book_rating,book_title,book_author,year_of_publication,publisher
0,276847,"kÃ¶ln, nordrhein-westfalen, germany",27,3442448530,7.0,Die HirnkÃ?ÃÂ¶nigin.,Thea Dorn,2001.0,Goldmann
1,276847,"kÃ¶ln, nordrhein-westfalen, germany",27,3551551693,10.0,Harry Potter und der Gefangene von Azkaban,J. K. Rowling,1999.0,Carlsen Verlag GmbH
2,276847,"kÃ¶ln, nordrhein-westfalen, germany",27,3809024589,8.0,Die Chirurgin.,Tess Gerritsen,2002.0,Limes
3,276925,"barcelona, barcelona, spain",22,0316666343,0.0,The Lovely Bones: A Novel,Alice Sebold,2002.0,"Little, Brown"
4,276925,"barcelona, barcelona, spain",22,0385504209,8.0,The Da Vinci Code,Dan Brown,2003.0,Doubleday
...,...,...,...,...,...,...,...,...,...
946272,276307,"richmond, london, england, united kingdom",35,0671865277,0.0,Classic Crews : A Harry Crews Reader,Harry Crews,1993.0,Touchstone
946273,276313,"livermore, california, usa",36,0812511816,9.0,"The Eye of the World (The Wheel of Time, Book 1)",Robert Jordan,1990.0,Tor Fantasy
946274,276466,"maplewood, missouri, usa",16,0440167787,0.0,The Outsider,Howard Fast,1985.0,Dell Publishing Company
946275,276545,"deventer, overijssel,",38,9023431189,0.0,NaN,NaN,NaN,NaN
946276,276626,"frankfurt am main, hessen, germany",22,3453861418,9.0,"Mr. Hitchcock, wie haben Sie das gemacht?",Francois Truffaut,2003.0,Heyne

In [4]:
book_crossing_df.describe()

             user_id            age    book_rating
count  946277.000000  946277.000000  840288.000000
mean   141085.649063      36.912856       2.799841
std     78953.976228      14.273762       3.865135
min         2.000000       0.000000       0.000000
25%     74093.000000      28.000000       0.000000
50%    141511.000000      35.000000       0.000000
75%    208528.000000      45.000000       7.000000
max    278855.000000     244.000000      10.000000

In [5]:
# Check for duplicates
print(f"Duplicate entries: {book_crossing_df.duplicated().sum()}")

Duplicate entries: 0

In [6]:
for column in book_crossing_df.columns:
    print(f"Column {column} has {book_crossing_df[column].isnull().sum()} null values")

Column user_id has 0 null values
Column address has 0 null values
Column age has 0 null values
Column isbn has 105989 null values
Column book_rating has 105989 null values
Column book_title has 192979 null values
Column book_author has 192979 null values
Column year_of_publication has 192979 null values
Column publisher has 192979 null values

In [7]:
# Drop Null Values
book_crossing_df = book_crossing_df.dropna()

In [8]:
for column in book_crossing_df.columns:
    print(f"Column {column} has {book_crossing_df[column].isnull().sum()} null values")

Column user_id has 0 null values
Column address has 0 null values
Column age has 0 null values
Column isbn has 0 null values
Column book_rating has 0 null values
Column book_title has 0 null values
Column book_author has 0 null values
Column year_of_publication has 0 null values
Column publisher has 0 null values

In [9]:
# Print the total number of tradable cryptocurrencies.
print(f"There are {book_crossing_df['user_id'].unique().size} users")

There are 53887 users

In [10]:
book_crossing_df.dtypes

user_id                  int64
address                 object
age                      int64
isbn                    object
book_rating            float64
book_title              object
book_author             object
year_of_publication     object
publisher               object
dtype: object

In [11]:
# Remove rows with ages over 100
# we want users that resemble our life expectancy range
book_age = book_crossing_df[(book_crossing_df['age'] > 85) | (book_crossing_df['age'] < 10)].index

In [12]:
book_crossing_df.drop(book_age, inplace=True)
book_crossing_df

/Users/nataliebernal/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,user_id,address,age,isbn,book_rating,book_title,book_author,year_of_publication,publisher
0,276847,"kÃ¶ln, nordrhein-westfalen, germany",27,3442448530,7.0,Die HirnkÃ?ÃÂ¶nigin.,Thea Dorn,2001.0,Goldmann
1,276847,"kÃ¶ln, nordrhein-westfalen, germany",27,3551551693,10.0,Harry Potter und der Gefangene von Azkaban,J. K. Rowling,1999.0,Carlsen Verlag GmbH
2,276847,"kÃ¶ln, nordrhein-westfalen, germany",27,3809024589,8.0,Die Chirurgin.,Tess Gerritsen,2002.0,Limes
3,276925,"barcelona, barcelona, spain",22,0316666343,0.0,The Lovely Bones: A Novel,Alice Sebold,2002.0,"Little, Brown"
4,276925,"barcelona, barcelona, spain",22,0385504209,8.0,The Da Vinci Code,Dan Brown,2003.0,Doubleday
...,...,...,...,...,...,...,...,...,...
946271,276307,"richmond, london, england, united kingdom",35,037572737X,7.0,American Tabloid,James Ellroy,2001.0,Vintage Books USA
946272,276307,"richmond, london, england, united kingdom",35,0671865277,0.0,Classic Crews : A Harry Crews Reader,Harry Crews,1993.0,Touchstone
946273,276313,"livermore, california, usa",36,0812511816,9.0,"The Eye of the World (The Wheel of Time, Book 1)",Robert Jordan,1990.0,Tor Fantasy
946274,276466,"maplewood, missouri, usa",16,0440167787,0.0,The Outsider,Howard Fast,1985.0,Dell Publishing Company
946276,276626,"frankfurt am main, hessen, germany",22,3453861418,9.0,"Mr. Hitchcock, wie haben Sie das gemacht?",Francois Truffaut,2003.0,Heyne

In [13]:
book_crossing_df.sort_values(by=['age'], ascending=False)

,user_id,address,age,isbn,book_rating,book_title,book_author,year_of_publication,publisher
765211,148671,"calgary, alberta, canada",85,0451127986,0.0,Forefathers,Nancy Cato,1984.0,New American Library
650949,158581,"fort dodge, iowa, usa",85,034542123X,4.0,The Alpine Legacy (Emma Lord Mysteries),MARY DAHEIM,1999.0,Fawcett
103121,104404,"bonita springs, florida, usa",85,0151002290,7.0,East of the Mountains,David Guterson,1999.0,Harcourt
256951,148671,"calgary, alberta, canada",85,0802081533,0.0,Skyscrapers Hide the Heavens: A History of Ind...,J. R. Miller,2000.0,University of Toronto Press
469629,104404,"bonita springs, florida, usa",85,0060198788,7.0,Close to Home : A Novel of Suspense,Peter Robinson,2003.0,William Morrow
...,...,...,...,...,...,...,...,...,...
515846,274618,"houston, texas, usa",10,0436236958,0.0,Animal Heroes: Military Mascots and Pets,J.J. Kramer,1982.0,Vintage/Ebury (A Division of Random House Group)
726339,167998,"sherwood, oregon, usa",10,0679887555,0.0,The Deadly Dungeon (A to Z Mysteries (Paper)),Ron Roy,1998.0,Random House Books for Young Readers
10294,103425,"portland, oregon, usa",10,0380728060,8.0,The Luckiest Girl (An Avon Camelot Book),Beverly Cleary,1996.0,HarperTrophy
65493,205369,"truro, nova scotia, canada",10,1841217948,8.0,Rachel/Zoe (Make Friends with S.),Ann Bryant,2002.0,Orchard Books
499160,178741,"lindenau, berlin, germany",10,3407784058,0.0,Zauberhafte Miss Wiss,Terence Blacker,2002.0,Beltz

In [14]:
book_crossing_df.sort_values(by=['age'], ascending=True)

,user_id,address,age,isbn,book_rating,book_title,book_author,year_of_publication,publisher
943926,220617,"st. louis, missouri, usa",10,0689839472,0.0,It Came from Beneath the Bed!,James Howe,2002.0,Atheneum
887427,68000,"toronto, ontario, canada",10,0440414806,10.0,Holes (Yearling Newbery),LOUIS SACHAR,2000.0,Yearling
887428,68000,"toronto, ontario, canada",10,0553157361,0.0,Encyclopedia Brown and the Case of the Secret ...,Donald J. Sobol,1982.0,Skylark
505537,276928,"highland, california, usa",10,0671026283,10.0,Visitors (Buffy the Vampire Slayer),Laura Anne Gilman,1999.0,Simon Spotlight Entertainment
887429,68000,"toronto, ontario, canada",10,0679806695,0.0,The Final Lesson (Teenage Mutant Ninja Turtles),Astrid Holm,1990.0,Random House Childrens Books
...,...,...,...,...,...,...,...,...,...
736949,175984,"goslar, niedersachsen, germany",85,3446151982,6.0,Das KÃ?ÃÂ¶nigreich des Sternapfels.,Derek Walcott,1989.0,Carl Hanser
256951,148671,"calgary, alberta, canada",85,0802081533,0.0,Skyscrapers Hide the Heavens: A History of Ind...,J. R. Miller,2000.0,University of Toronto Press
395234,158581,"fort dodge, iowa, usa",85,0380769328,0.0,Quiche Before Dying (Jane Jeffry Mysteries (Pa...,Jill Churchill,1993,Avon
469629,104404,"bonita springs, florida, usa",85,0060198788,7.0,Close to Home : A Novel of Suspense,Peter Robinson,2003.0,William Morrow
103121,104404,"bonita springs, florida, usa",85,0151002290,7.0,East of the Mountains,David Guterson,1999.0,Harcourt

In [15]:
column_names = ["user_id", "age", "address", "book_rating", "isbn", "book_title", "book_author", "year_of_publication", "publisher"]
book_crossing_df = book_crossing_df.reindex(columns=column_names)
book_crossing_df

,user_id,age,address,book_rating,isbn,book_title,book_author,year_of_publication,publisher
0,276847,27,"kÃ¶ln, nordrhein-westfalen, germany",7.0,3442448530,Die HirnkÃ?ÃÂ¶nigin.,Thea Dorn,2001.0,Goldmann
1,276847,27,"kÃ¶ln, nordrhein-westfalen, germany",10.0,3551551693,Harry Potter und der Gefangene von Azkaban,J. K. Rowling,1999.0,Carlsen Verlag GmbH
2,276847,27,"kÃ¶ln, nordrhein-westfalen, germany",8.0,3809024589,Die Chirurgin.,Tess Gerritsen,2002.0,Limes
3,276925,22,"barcelona, barcelona, spain",0.0,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002.0,"Little, Brown"
4,276925,22,"barcelona, barcelona, spain",8.0,0385504209,The Da Vinci Code,Dan Brown,2003.0,Doubleday
...,...,...,...,...,...,...,...,...,...
946271,276307,35,"richmond, london, england, united kingdom",7.0,037572737X,American Tabloid,James Ellroy,2001.0,Vintage Books USA
946272,276307,35,"richmond, london, england, united kingdom",0.0,0671865277,Classic Crews : A Harry Crews Reader,Harry Crews,1993.0,Touchstone
946273,276313,36,"livermore, california, usa",9.0,0812511816,"The Eye of the World (The Wheel of Time, Book 1)",Robert Jordan,1990.0,Tor Fantasy
946274,276466,16,"maplewood, missouri, usa",0.0,0440167787,The Outsider,Howard Fast,1985.0,Dell Publishing Company
946276,276626,22,"frankfurt am main, hessen, germany",9.0,3453861418,"Mr. Hitchcock, wie haben Sie das gemacht?",Francois Truffaut,2003.0,Heyne

In [16]:
# Set the output file name
output_data_file = "/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/book_crossing_files/csv/book_crossing_clean.csv"
# Export the city_data DataFrame into a CSV file
book_crossing_df.to_csv(output_data_file, index=False)