In [1]:
import pandas as pd
import os

In [2]:
file = '/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/book_crossing_files/csv/DA_finals.csv'        

# # Determine what the character encoding is
# import chardet
# with open(file, 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

# Insert sep to seperate data, character encoding, and skip bad lines
book_crossing_df = pd.read_csv(file, sep=",",encoding='ISO-8859-1', on_bad_lines='skip')

In [3]:
# Display DataFrame
book_crossing_df

,User_ID,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Book_Rating,Address,Age
0,2,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,0,"stockton, california, usa",18.0
1,11400,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,0,"ottawa, ontario, canada",49.0
2,11400,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,9,"ottawa, ontario, canada",49.0
3,11400,0151008116,Life of Pi,Yann Martel,2002,Harcourt,6,"ottawa, ontario, canada",49.0
4,11400,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket,0,"ottawa, ontario, canada",49.0
...,...,...,...,...,...,...,...,...,...
753291,246590,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,6,"madrid, madrid, spain",20.0
753292,259589,087004124X,Anthem,Ayn Rand,1966,Caxton Press,8,"venice, florida, usa",19.0
753293,259591,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,8,"tioga, pennsylvania, usa",39.0
753294,259614,8485900057,Rimas y leyendas (ClÃÂÃÂ¡sicos Fraile ; 3),Gustavo Adolfo BÃÂÃÂ©cquer,1981,Ediciones Fraile,10,"madrid, madrid, spain",22.0
753295,259679,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,6,"grand prairie, texas, usa",27.0

In [4]:
book_crossing_df.describe()

             User_ID  Year_Of_Publication    Book_Rating            Age
count  753296.000000        753296.000000  753296.000000  753296.000000
mean   141231.207581          1967.670724       2.768896      37.397658
std     78828.594808           233.405172       3.864231      14.098257
min         2.000000             0.000000       0.000000       0.000000
25%     74453.000000          1992.000000       0.000000      28.000000
50%    141493.000000          1997.000000       0.000000      35.000000
75%    209156.000000          2001.000000       7.000000      45.000000
max    278852.000000          2050.000000      10.000000     244.000000

In [5]:
# Check for duplicates
print(f"Duplicate entries: {book_crossing_df.duplicated().sum()}")

Duplicate entries: 0

In [6]:
for column in book_crossing_df.columns:
    print(f"Column {column} has {book_crossing_df[column].isnull().sum()} null values")

Column User_ID has 0 null values
Column ISBN has 0 null values
Column Book_Title has 0 null values
Column Book_Author has 0 null values
Column Year_Of_Publication has 0 null values
Column Publisher has 0 null values
Column Book_Rating has 0 null values
Column Address has 0 null values
Column Age has 0 null values

In [7]:
# Print the total number of tradable cryptocurrencies.
print(f"There are {book_crossing_df['User_ID'].unique().size} users")

There are 53887 users

In [8]:
book_crossing_df.dtypes

User_ID                  int64
ISBN                    object
Book_Title              object
Book_Author             object
Year_Of_Publication      int64
Publisher               object
Book_Rating              int64
Address                 object
Age                    float64
dtype: object

In [9]:
# Remove rows with ages over 100
# we want users that resemble our life expectancy range
book_age = book_crossing_df[(book_crossing_df['Age'] > 85) | (book_crossing_df['Age'] < 10)].index

In [10]:
book_crossing_df.drop(book_age, inplace=True)
book_crossing_df

,User_ID,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Book_Rating,Address,Age
0,2,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,0,"stockton, california, usa",18.0
1,11400,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,0,"ottawa, ontario, canada",49.0
2,11400,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,9,"ottawa, ontario, canada",49.0
3,11400,0151008116,Life of Pi,Yann Martel,2002,Harcourt,6,"ottawa, ontario, canada",49.0
4,11400,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket,0,"ottawa, ontario, canada",49.0
...,...,...,...,...,...,...,...,...,...
753291,246590,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,6,"madrid, madrid, spain",20.0
753292,259589,087004124X,Anthem,Ayn Rand,1966,Caxton Press,8,"venice, florida, usa",19.0
753293,259591,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,8,"tioga, pennsylvania, usa",39.0
753294,259614,8485900057,Rimas y leyendas (ClÃÂÃÂ¡sicos Fraile ; 3),Gustavo Adolfo BÃÂÃÂ©cquer,1981,Ediciones Fraile,10,"madrid, madrid, spain",22.0
753295,259679,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,6,"grand prairie, texas, usa",27.0

In [11]:
book_crossing_df.sort_values(by=['Age'], ascending=False)

,User_ID,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Book_Rating,Address,Age
681478,264215,0140188479,Black Lamb and Grey Falcon: A Journey Through ...,Rebecca West,1995,Penguin Books,6,"houston, texas, usa",85.0
736740,158581,034542123X,The Alpine Legacy (Emma Lord Mysteries),MARY DAHEIM,1999,Fawcett,4,"fort dodge, iowa, usa",85.0
606773,104404,0805056211,Biting the Moon,Martha Grimes,1999,Henry Holt &amp; Company,5,"bonita springs, florida, usa",85.0
606774,104404,0425197395,The Mediterranean Caper,Clive Cussler,2004,Berkley Publishing Group,6,"bonita springs, florida, usa",85.0
606775,104404,0060198788,Close to Home : A Novel of Suspense,Peter Robinson,2003,William Morrow,7,"bonita springs, florida, usa",85.0
...,...,...,...,...,...,...,...,...,...
668002,278524,0590629786,"The Visitor (Animorphs, No 2)",K. A. Applegate,1996,Scholastic,0,"kansas city, ,",10.0
717553,125677,0754061205,Cliffhanger,Jacqueline Wilson,2000,Chivers North Amer,0,"farnborough, hampshire, united kingdom",10.0
717552,125677,0754078035,Sleepovers,Jacqueline Wilson,2002,Chivers North Amer,0,"farnborough, hampshire, united kingdom",10.0
717551,125677,0192750194,How to Survive Summer Camp (Oxford Junior Fict...,Jacqueline Wilson,1999,Oxford University Press,0,"farnborough, hampshire, united kingdom",10.0
659221,257820,0553486799,"Tooth Fairy Travels (Fairy School, No 1)",Gail Herman,1999,Skylark Books,0,"pocomoke city, maryland, usa",10.0

In [12]:
book_crossing_df.sort_values(by=['Age'], ascending=True)

,User_ID,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Book_Rating,Address,Age
721014,182214,067988341X,"Polar Bears Past Bedtime (Magic Tree House 12,...",Mary Pope Osborne,1998,Random House Children's Books,9,"rapid city, south dakota, usa",10.0
656295,98560,0439049962,Captain Underpants and the Invasion of the Inc...,Dav Pilkey,1999,Scholastic,7,"marysville, ,",10.0
656296,98560,0590846280,The Adventures of Captain Underpants: An Epic ...,Dav Pilkey,1997,Little Apple,0,"marysville, ,",10.0
656297,98560,0439050006,Captain Underpants and the Wrath of the Wicked...,Dav Pilkey,2001,Blue Sky Press (AZ),7,"marysville, ,",10.0
659233,257820,1571458700,What Is My Dog Thinking: The Essential Guide t...,Gwen Bailey,2002,Thunder Bay Press (CA),10,"pocomoke city, maryland, usa",10.0
...,...,...,...,...,...,...,...,...,...
736740,158581,034542123X,The Alpine Legacy (Emma Lord Mysteries),MARY DAHEIM,1999,Fawcett,4,"fort dodge, iowa, usa",85.0
429698,148671,0804106304,The Joy Luck Club,Amy Tan,1994,Prentice Hall (K-12),0,"calgary, alberta, canada",85.0
429700,148671,0451127986,Forefathers,Nancy Cato,1984,New American Library,0,"calgary, alberta, canada",85.0
753053,175984,3446151982,Das KÃÂ?ÃÂÃÂ¶nigreich des Sternapfels.,Derek Walcott,1989,Carl Hanser,6,"goslar, niedersachsen, germany",85.0
429699,148671,0060391626,I Know This Much Is True (Oprah's Book Club),Wally Lamb,1998,Regan Books,0,"calgary, alberta, canada",85.0

In [13]:
column_names = ["User_ID", "Age", "Address", "Book_Rating", "ISBN", "Book_Title", "Book_Author", "Year_Of_Publication", "Publisher"]
book_crossing_df = book_crossing_df.reindex(columns=column_names)
book_crossing_df

,User_ID,Age,Address,Book_Rating,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher
0,2,18.0,"stockton, california, usa",0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,11400,49.0,"ottawa, ontario, canada",0,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,11400,49.0,"ottawa, ontario, canada",9,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion
3,11400,49.0,"ottawa, ontario, canada",6,0151008116,Life of Pi,Yann Martel,2002,Harcourt
4,11400,49.0,"ottawa, ontario, canada",0,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket
...,...,...,...,...,...,...,...,...,...
753291,246590,20.0,"madrid, madrid, spain",6,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf
753292,259589,19.0,"venice, florida, usa",8,087004124X,Anthem,Ayn Rand,1966,Caxton Press
753293,259591,39.0,"tioga, pennsylvania, usa",8,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press
753294,259614,22.0,"madrid, madrid, spain",10,8485900057,Rimas y leyendas (ClÃÂÃÂ¡sicos Fraile ; 3),Gustavo Adolfo BÃÂÃÂ©cquer,1981,Ediciones Fraile
753295,259679,27.0,"grand prairie, texas, usa",6,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association

In [14]:
# Set the output file name
output_data_file = "/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/book_crossing_files/csv/BC_Final_clean.csv"
# Export the city_data DataFrame into a CSV file
book_crossing_df.to_csv(output_data_file, index=False)